/************************* Begin Global Style *************************/
html{scroll-behavior:smooth;}
::-webkit-scrollbar{width:12px}
::-webkit-scrollbar-thumb{background:#f1917b;border-radius:5px;}
::-webkit-scrollbar-thumb:hover{background:#f13a11;}
::-webkit-scrollbar-track{background:#ddd;border-radius:5px;}
::placeholder{color:#fff}
*{
	padding:0;margin:0;
	font-family:"arial black";
	box-sizing:border-box;
	outline:none;
	transition:all .5s
}
a{text-decoration:none}
.container{width:80%;margin:auto;}

/************************** End Global Style **************************/

/**************************************************************************************/

/************************ Begin section-1 Style ***********************/
.section-1{
	height:800px;width:100%;
	background-image:url(../backgrounds/pic1.jpg);
	background-size:cover;
	color:#fff;
}
.header{/*There is a Hover Here*/
	height:100px;
	background:transparent;
	padding-top:50px;
	text-transform:uppercase;
	border-bottom:5px solid #f13a11;
}
.header h1{/*There is a Hover Here*/
	float:left;width:40%;
	font-size:20px;cursor:pointer;
	transition-timing-function:ease-in-out;
}
.header h1 span{font-size:12px;color:#f13a11}
.header ul{float:right;width:60%;}
.header li{
	display:inline-block;
	width:19%;height:100%;
	text-align:center;
}
.header a{/*There is a Hover Here*/
	color:#fff;padding:10px 0 25px;
	font-size:15px;font-weight:bold;
	transition-timing-function:ease-in-out;
}
.title{
	float:right;width:50%;
	margin:300px 100px 0 0;
	text-align:center;
}
.title h1{
	font-size:100px;
	text-transform:uppercase;
	text-shadow:0 0 13px #fff
}
.title span{
	color:#f13a11;
	text-shadow:0 0 13px #f13a11;
}
.title p{
	font-size:12px;color:#8c8e90;
	text-transform:capitalize;
}
.title button{/*There is a Hover AND Focus Here*/
	width:300px;height:40px;
	margin-top:50px;color:#fff;
	background:none;
	letter-spacing:2px;margin:50px;
	text-transform:capitalize;
	border:2px solid #f13a11;
	cursor:pointer;font-weight:bold;
}
/************************* End section-1 Style ************************/


/************************ Begin section-2 Style ***********************/
.section-2{
	background:#171819;height:700px;
	padding-top:50px;text-align:center;
}
.section-2 h1{
	font-family:"Tahoma";
	text-transform:capitalize;
	color:#fff;margin-bottom:20px;
	text-shadow:0 0 13px #fff;
	font-size:50px;
}
.section-2 h1 span{
	color:#f13a11;letter-spacing:5px;
	text-shadow:0 0 13px #f13a11;
}
.section-2 p{color:#4b4b4b;letter-spacing:2px;}
.section-2 .card{/*There is a Hover Here*/
	width:22.8%;height:450px;
	display:inline-block;
	margin:50px 9px;background:#fff;
	overflow:hidden;border:2px solid #fff;
	border-bottom:4px solid #f13a11;
	border-radius:10px;
	transform:scale(.8,.8);
}
.card .img{/*There is a Hover Here*/
	width:100%;height:50%;
	overflow:hidden;background:#000;
	border-bottom:4px solid #f13a11;
}
.card img{/*There is a Hover Here*/
	height:100%;width:100%;
	opacity:.5;
}
.card h4{
	font-size:20px;
	width:80%;height:50px;
	margin:20px auto;
	text-transform:capitalize;
}
.card p {
	font-size:12px;
	width:80%;height:80px;
	letter-spacing:0;
	text-transform:capitalize;
	margin:auto;line-height:15px;
	text-shadow:none;
}
.card button{/*There is a Hover Here*/
	width:150px;height:40px;
	color:#4b4b4b;border-radius:10px;
	background:none;
	letter-spacing:2px;
	text-transform:capitalize;
	border:4px solid #4b4b4b;
	cursor:pointer;font-weight:bold;
}
/************************* End section-2 Style ************************/


/************************ Begin Biography Style ***********************/
.bio{
	height:950px;padding:20px;
	background-image:url(../backgrounds/pic2.jpg);
	background-size:cover;overflow:hidden
}
.bio h1{
	text-align:center;
	color:#313131;font-size:100px;
	text-transform:uppercase
}
.bio p{
	text-align:center;
	color:#f13a11;font-size:20px;
	text-transform:capitalize;
	letter-spacing:2px;
}
.bio .content{/*There is a Hover Here*/
	width:40%;margin:50px 0 0 50px;
	height:600px;padding:30px;
	float:left;display:inline;
	overflow-y:scroll;overflow-x:hidden;
	border-radius:10px;
}
.bio .content h2{
	padding-bottom:5px;color:#313131;
	font-size:35px;text-align:center;
}
.bio .content p{
	font-family:tahoma;font-size:11px;
	margin:10px auto 150px;padding:5px;
	color:#313131;text-align:center;
	line-height:15px;letter-spacing:0;
	border:solid #313131;
	border-width:0 2px 2px 2px;
}
.bio h4{
	font-size:50px;color:#ccc;
	position:relative;top:320px;right:240px;
	text-transform:uppercase;
	display:inline-block;
	transform:rotate(90deg)
}
.bio h4 span{color:#f1917b}
.bio button{/*There is a Hover Here*/
	width:150px;height:40px;
	color:#4b4b4b;border-radius:10px;
	background:none;margin:620px auto;
	letter-spacing:2px;display:block;
	text-transform:capitalize;
	border:4px solid #4b4b4b;
	cursor:pointer;font-weight:bold;
}
/************************* End Biography Style ************************/


/************************* Begin Persona Style ************************/
.per{
	height:950px;padding:20px;
	background-image:url(../backgrounds/pic3.jpg);
	background-size:cover;overflow:hidden
}
.per h1{
	text-align:center;
	color:#ccc;font-size:100px;
	text-transform:uppercase
}
.per p{
	text-align:center;
	color:#f13a11;font-size:20px;
	text-transform:capitalize;
	letter-spacing:2px;
}
.per .content{
	width:40%;margin:50px 600px;
	height:500px;padding:30px;
	display:inline-block;
	overflow-y:scroll;overflow-x:hidden;
	border-radius:10px;
}
.per .content h2{
	padding-bottom:5px;color:#eee;
	font-size:35px;text-align:center;
}
.per .content h3{color:#ddd}
.per .content p{
	font-family:tahoma;font-size:11px;
	margin:10px auto 150px;padding:5px;
	color:#ccc;text-align:center;
	line-height:15px;letter-spacing:0;
	border:solid #fff;
	border-width:0 2px 2px 2px;
}
.per h4{
	font-size:40px;color:#313131;
	position:relative;
	bottom:330px;left:950px;
	text-transform:uppercase;
	display:inline-block;
	transform:rotate(90deg)
}
.per h4 span{color:#f13a11}
.per button{/*There is a Hover Here*/
	width:150px;height:40px;
	color:#4b4b4b;border-radius:10px;
	background:none;margin:20px auto;
	letter-spacing:2px;display:block;
	text-transform:capitalize;
	border:4px solid #4b4b4b;
	cursor:pointer;font-weight:bold;
}
/************************* End Persona Style **************************/


/*********************** Begin Pictures Style *************************/
.pic{
	height:950px;padding:20px;
	background-image:url(../backgrounds/pic4.jpg);
	background-size:cover;overflow:hidden
}
.pic h1{
	text-align:center;
	color:#313131;font-size:100px;
	text-transform:uppercase
}
.pic p{
	text-align:center;
	color:#f13a11;font-size:20px;
	text-transform:capitalize;
	letter-spacing:2px;
}
.pic .content{
	width:40%;margin:50px 0 0 50px;
	height:600px;padding:30px;
	float:left;display:inline;
	overflow-y:scroll;overflow-x:hidden;
	border-radius:10px;
}
.content .img-box{/*There is a Hover Here*/
	width:49%;height:270px;
	display:inline-block;
	overflow:hidden;
	position:relative;
	border:3px solid #ccc;
	border-radius:20px;
	margin-top:10px;
}
.content .img-box img{/*There is a Hover Here*/
	width:100%;height:100%;
	opacity:.5
}
.img-box .info{/*There is a Hover Here*/
	position:absolute;
	bottom:0;left:0;
	height:20%;width:100%;
	background:#fff;
	padding:0 10px;
	border-top:5px solid #313131;
}
.img-box .info h3{/*There is a Hover Here*/
	color:#ccc;font-size:25px;
	height:50px;width:50px;
	padding:8px;margin:0 auto;
	text-align:center;display:block;
}
.img-box p{
	text-align:center;font-size:13px;
	border:none;color:#eee;
}
.pic h4{
	font-size:38px;color:#ccc;
	position:relative;top:240px;right:180px;
	text-transform:uppercase;
	display:inline-block;
	transform:rotate(90deg)
}
.pic h4 span{color:#f1917b;font-size:50px;}
.pic button{/*There is a Hover Here*/
	width:150px;height:40px;
	color:#4b4b4b;border-radius:10px;
	background:none;margin:620px auto;
	letter-spacing:2px;display:block;
	text-transform:capitalize;
	border:4px solid #4b4b4b;
	cursor:pointer;font-weight:bold;
}
/************************* End Pictures Style *************************/


/************************ Begin Quotes Style **************************/
.qut{
	height:950px;padding:20px;
	background-image:url(../backgrounds/pic5.jpg);
	background-size:cover;overflow:hidden
}
.qut h1{
	text-align:center;
	color:#ccc;font-size:100px;
	text-transform:uppercase;
}
.qut p{
	text-align:center;
	color:#f13a11;font-size:20px;
	text-transform:capitalize;
	letter-spacing:2px;
}
.qut .content{
	width:45%;margin:140px 600px 0;
	height:500px;padding:10px;
	display:inline-block;
	overflow-y:scroll;overflow-x:hidden;
	border-radius:10px;
}
.qut .content h2{
	text-align:center;
	font-size:30px;
	width:70%;margin:30px auto;
	padding-bottom:5px;
	text-transform:capitalize;
	border:6px solid;
	border-radius:20px;
}
.q1 h2{
	color:#ff444c;background:#eee;
	border-color:#ccc #ff444c;
}
.q2 h2{
	color:#00bdea;background:#eee;
	border-color:#ccc #00bdea;
}
.q3 h2{
	color:#ffc261;background:#eee;
	border-color:#ccc #ffc261;
}
.q4 h2{
	color:#00c5c0;background:#eee;
	border-color:#ccc #00c5c0;
}
.qut .content .qut-box{/*There is a Hover Here*/
	width:100%;height:400px;
	display:inline-block;
	overflow:hidden;
	position:relative;
	margin-top:10px;
	transform:scale(.9,.9);
	opacity:.7;
}
.qut .content .qut-box img{
	width:100%;height:50%;opacity:1;
	transform:scale(.9,.9);
}
.qut .content .qut-box .quote{
	position:absolute;
	bottom:260px;right:10px;
	height:20%;width:100%;
	padding:0 50px;
	text-align:center;
	transform:scale(.8,.8) rotate(-5deg);
}
.qut .content .qut-box .quote q{color:#eee;font-size:15px;}
.qut .content .qut-box button{/*There is a Hover Here*/
	width:150px;height:40px;
	color:#4b4b4b;border-radius:10px;
	background:none;margin:auto;
	letter-spacing:2px;display:block;
	text-transform:capitalize;
	border:4px solid #4b4b4b;
	cursor:pointer;font-weight:bold;
}
.qut a button{/*There is a Hover Here*/
	width:150px;height:40px;
	color:#4b4b4b;border-radius:10px;
	background:none;margin:40px auto;
	letter-spacing:2px;display:block;
	text-transform:capitalize;
	border:4px solid #4b4b4b;
	cursor:pointer;font-weight:bold;
}
/************************* End Quotes Style ***************************/


/********************** Begin Meet Our Team Style *********************/
.team{
	height:1100px;overflow:hidden;
	background-image:url(../backgrounds/pic6.jpg);
	background-size:cover;
}
.team h1{
	margin:60px 0;color:#688fca;
	font-size:60px;
	text-align:center;
	text-transform:capitalize;
	letter-spacing:5px;
}
.team h1 span{
	color:#8777b6;display:inline;
	padding:0;
}
.team span{
	display:block;
	width:100%;
	padding-left:320px;
}
.team .card-t{
	height:250px;width:205.8px;
	margin:5px 3px;
	border-radius:10px;
	overflow:hidden;
	display:inline-block;
	position:relative;
}
.team .card-t .img-bx{
	height:100%;width:100%;
	overflow:hidden;opacity:.9;
	background:#688fca;
}
.team .card-t .img-bx img{/*There is a Hover Here*/
	height:100%;width:100%;
	opacity:.3;
}
.team .card-t .content{/*There is a Hover Here*/
	background:none;
	position:absolute;
	top:10px;bottom:10px;
	left:10px;right:10px;
	text-align:center;
	text-transform:capitalize;
	padding:15px;transform:scale(.5);
	opacity:0;color:#fff;
	text-shadow:0 0 3px #000;
	border-radius:10px;
}
.team .card-t .content h2{
	margin:10px auto;width:100%;
	font-size:25px;height:60px;
	font-family:"Dancing Script","tahoma";
}
.team .card-t .content p{
	font-size:15px;height:85px;
	font-family: "Teko","tahoma";
}
.team .card-t .content ul{/*There is a Hover Here*/
	margin:20px auto;
	height:30px;
	transform:translatey(100px)
}
.team .card-t .content ul li{
	display:inline-block;
	overflow:hidden;
}
.team .card-t .content ul li img{/*There is a Hover Here*/
	height:25px;width:25px;
	padding:2px;border-radius:20px;
	background:#eee
}
.team a button{/*There is a Hover Here*/
	width:200px;height:40px;
	color:#4b4b4b;border-radius:10px;
	background:#95b6e1;margin:40px auto;
	letter-spacing:2px;display:block;
	text-transform:capitalize;
	border:4px solid #2382fd;
	cursor:pointer;font-weight:bold;
}
/*********************** End Meet Our Team Style **********************/


/***********************  Begin Contact Us Style  *********************/
.contact{
	height:1100px;padding-top:30px;
	background-image:url(../backgrounds/pic7.jpg);
	background-size:cover;
}
.contact h1{
	font-size:50px;color:#fff;
	text-transform:uppercase;
	margin-top:30px;
}
.contact input{
	display:block;outline:none;
	margin:20px auto;border:none;
	border-radius:20px;
	text-transform:capitalize;
}
.contact .login{
	height:320px;width:40%;
	background:none;float:right;
	margin:150px 50px 0 0;
}
.contact .login h3{
	font-size:50px;
	text-transform:uppercase;
	text-align:center;
	color:#fbb12a
}
.contact .login input[type="text"]{/*There is a Hover Here*/
	display:block;margin:20px auto;
	padding:10px;color:#fff;
	width:60%;background:#fbb12a;
	opacity:.7;text-align:center;
}
.contact .login input[type="password"]{/*There is a Hover Here*/
	display:block;margin:20px auto;
	padding:10px;color:#fff;
	width:60%;background:#fbb12a;
	opacity:.7;text-align:center;
}
.contact .login input[type="submit"]{/*There is a Hover Here*/
	padding:5px;text-transform:uppercase;
	width:30%;border:3px solid #313131;
	background:#fbb12a;opacity:.7;
}
.contact .login input[type="reset"]{/*There is a Hover Here*/
	padding:5px;text-transform:uppercase;
	width:30%;border:3px solid #313131;
	background:#fbb12a;opacity:.7;
}
.contact .sign-up{
	height:320px;width:40%;
	background:none;float:left;
	margin:500px 0 0 100px;
}
.contact .sign-up h3{
	font-size:50px;
	text-transform:uppercase;
	text-align:center;
	color:#e05ea4
}
.contact .sign-up input[type="text"]{/*There is a Hover Here*/
	display:block;margin:20px auto;padding:10px;
	width:60%;background:#e05ea4;color:#fff;
	opacity:.7;text-align:center;
}
.contact .sign-up input[type="password"]{/*There is a Hover Here*/
	display:block;margin:20px auto;padding:10px;
	width:60%;background:#e05ea4;color:#fff;
	opacity:.7;text-align:center;
}
.contact .sign-up input[type="submit"]{/*There is a Hover Here*/
	padding:5px;text-transform:uppercase;
	width:30%;border:3px solid #313131;
	background:#e05ea4;opacity:.7;
	display:inline;margin-left:85px
}
.contact .sign-up input[type="reset"]{/*There is a Hover Here*/
	padding:5px;text-transform:uppercase;
	width:30%;border:3px solid #313131;
	background:#e05ea4;opacity:.7;display:inline;
}
/***********************   End Contact Us Style   *********************/

.footer{
	height:250px;text-align:center;
}
.footer .social{
	margin:auto;
	padding-top:50px;
	border-top:5px solid #79a1d5;
}
.footer .social ul li{
	display:inline-block;
	overflow:hidden;
	margin:0 10px;
}
.footer .social ul li img{/*There is a Hover Here*/
	height:40px;width:40px;opacity:.4;
	border-radius:20px;
	background:#ccc;
	transform:scale(.8);
}
.footer .more ul li{/*There is a Hover Here*/
	display:inline-block;
	list-style:none;
	margin:10px 30px;
	transform:scale(.9);
	transition:all .3s;
}
.footer .more ul li a{/*There is a Hover Here*/
	font-family:"Teko","tahoma";
	color:#313131;font-size:30px;
}
.footer h6{
	font-size:17px;
	margin-top:30px;
	color:#ececec;
	font-family:"Franklin Gothic Medium"
}
.footer h6 a{/*There is a Hover Here*/
	color:#79a1d5;
	font-family:"Franklin Gothic Medium"
}
.footer h6 span{
	text-transform:lowercase;
	color:#ecd218;
	font-size:13px;
}

























